<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>choice.html</title>
</head>
<body>
	<h2>좋아하는 것 Select</h2>

	<form action="../value" method="get">
		
		<input type="checkbox" name="like" value="cat">고양이 <br/>
		<input type="checkbox" name="like" value="snack">과자 <br/>
		<input type="checkbox" name="like" value="movie">영화감상 <br/>
		<input type="checkbox" name="like" value="travel">여행<br/>
		<input type="checkbox" name="like" value="강아지">강아지<br/>

		<input type="submit" value="전송">		
	</form>



</body>
</html>